@import 'variables&mixins';

:host {
    display:inline-block;
    background-color: #E0F2F1;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;

}
    
    .content{
    text-align: center;

        .userImg{
            width:5rem;
            height:5rem;
            padding-top:30px;
        }

        .login-form{
            height:100%;
            width:100%;

            mwc-button {
                --mdc-theme-primary:var(--uxl-login-primary-color, #00897B);
                padding: 2px;
            }

            .container{
                text-align: center;
            }

            .forgotPass {
                text-decoration: none;
                color:black;
            }

            .username, .password {
                padding:10px;
                --mdc-theme-primary:#00897B;              
            }
        }

        .submit-msg{
            @include fadein();
            padding-top:20px;        
        }
    }


 



  