@import '~@uxland/uxl-style-utilities/src/flex-layout-styles';
@import '~@uxland/uxl-style-utilities/src/uxl-units-styles';
@import 'variables&mixins';

:host {
  @include layout;
  @include layout-center-center;
  background-color: var(--uxl-login-background-color, white);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.content {
  text-align: center;
  height: 500px;

  .userImg {
    width: 5rem;
    height: 5rem;
    margin-top: 20px;
    border-radius: 50%;
  }

  .login-form {

    mwc-textfield[hidden] {
      display: none;
    }

    mwc-button[hidden] {
      display: none;
    }

    mwc-button {
      --mdc-theme-primary: var(--uxl-login-primary-color, #00897B);
      padding: 2px;
    }

    .container {
      text-align: center;

    }

    .forgotPass {
      text-decoration: none;
      color: #616161;
    }

    .username, .password {
      padding: 10px;
      --mdc-theme-primary: #00897B;
    }

    .forgotPass {
      margin-top: 40px;
    }
  }

  .submit-msg {
    @include fadein();
    padding-top: 20px;
    color: #616161;
  }

  .submit-msg[hidden] {
    display: none;
  }

}






