@import '~@uxland/uxl-style-utilities/src/flex-layout-styles';
@import '~@uxland/uxl-style-utilities/src/uxl-units-styles';
@import 'variables';

:host {
  @include layout;
  @include layout-center;
  background-color: var(--uxl-login-background-color, white);
  padding: var(--uxl-login-padding, 32px);
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main__image-container{
}

.login__container {
  min-height: 1px;
  height: 100%;
  @include layout-flex;
  @include layout-vertical;
  @include layout-justified;
  @include layout-center;
  padding: var(--uxl-login-content-padding, 0 30%);
  .user__info {
    @include layout-vertical;
    @include layout-start-justified;
    @include layout-center;
    padding: 0 10px;
    margin: 16px;

    .user__info-image {
      width: var(--uxl-login-image-width, 5rem);
      height: var(--uxl-login-image-height, 5rem);
      /*border-radius: 50%;*/
    }
    .user__info-welcome-message{
        margin-top: 4px;
    }
  }

  .login__form {
    @include layout-vertical;
    @include layout-start-justified;
    @include layout-self-stretch;
    flex: 1;
    justify-content: center;


    .username-container, .password-container {
      padding: 10px;
      /*--mdc-theme-primary: var(--uxl-login-input-color, white);*/
    }



    .error__message{
      @include  layout;
      color: red;
      padding: 8px 8px 16px 8px;
    }

    .btn-submit{
      @include  layout;
      flex: 1;
    }

    .btn-submit[disabled]{
      opacity: 0.5;
    }
  }
}






