@import '~@uxland/uxl-style-utilities/src/flex-layout-styles';
@import '~@uxland/uxl-style-utilities/src/uxl-units-styles';
@import 'variables&mixins';

:host {
  @include layout;
  @include layout-center;
  background-color: var(--uxl-login-background-color, white);
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.content {
  @include layout-flex;
  @include layout-vertical;
  @include layout-start-justified;
  @include layout-center;
  padding: var(--uxl-login-content-padding, 0 30%);

  .login {
    @include layout-flex;
    @include layout-vertical;
    @include layout-start-justified;
    @include layout-center;
    margin-bottom: 2rem;

    .user__image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }

  .login-form {
    @include layout-flex;
    @include layout-vertical;
    @include layout-start-justified;
    @include layout-center;

    mwc-textfield[hidden] {
      display: none;
    }

    mwc-button[hidden] {
      display: none;
    }

    mwc-button {
      --mdc-theme-primary: var(--uxl-login-primary-color, #00897B);
      padding: 2px;
    }

    .container {
      @include layout-flex;
      @include layout-vertical;
      @include layout-self-stretch;
      color: red;
    }

    .forgotPass {
      text-decoration: none;
      color: #616161;
    }

    .username, .password {
      padding: 10px;
      --mdc-theme-primary: #00897B;
    }

    .forgotPass {
      margin-top: 40px;
    }
  }

  .submit-msg {
    @include fadein();
    padding-top: 20px;
    color: #616161;
  }

  .submit-msg[hidden] {
    display: none;
  }

}






