$uxl-login-background-color: white;


:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  --mdc-theme-primary: red;
}




.selected {
  width: 100%;
}

mcw-tab {
  //buscar color
}

uxl-login {
  min-height: 1px;
  height: 100%;

  &.login1::part(content) {
    background-color: transparent;
  }
}
