$uxl-login-background-color: white;

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  --mdc-notched-outline-border-color: white;
/*  --mdc-theme-primary: white;
  --mdc-text-field-outlined-idle-border-color: white;
  --mdc-text-field-outlined-hover-border-color: white;
  --mdc-text-field-focused-label-color: white;
  --mdc-text-field-outlined-disabled-border-color: white;*/
}

.selected {
  width: 100%;
}

mcw-tab {
  //buscar color
}


uxl-login {
  min-height: 1px;
  height: 100%;
  background-color: black;

  &.login1::part(content) {
    background-color: transparent;
  }

  &.login2::part(login__btn) {
    --mdc-theme-primary: var(--uxl-login-primary-color, orange);
  }

  &.login2::part(login__textfield) {
    --mdc-theme-primary: var(--uxl-login-primary-color, orange);

  }
}
